 /node_modules
 /public/hot
 /public/firma
  /public/storage
 /storage/*.key
 /vendor
  .env
 .env.backup
 .phpunit.result.cache
 docker-compose.override.yml
 Homestead.json
 Homestead.yaml
 npm-debug.log
 yarn-error.log
 /.idea
 /.vscode
# Laravel runtime
/storage/*
!/storage/.gitkeep
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep

# Logs
/storage/logs/

storage/*
bootstrap/cache/*